## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r'C:\Users\helen\Desktop\Berkeley boot camp\Week 6_Py\World_Weather_Analysis\Weather_database\WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Albany,US,79.75,clear sky,42.6001,-73.9662,NaN
1,3,Ponta Delgada,PT,75.92,broken clouds,37.7333,-25.6667,Vila Nova Hotel
2,6,Luang Prabang,LA,75.24,broken clouds,19.8856,102.1347,Villa Oasis
3,10,Arraial Do Cabo,BR,85.96,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,16,Bethel,US,85.10,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel_df = vacation_df.dropna()
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
city = clean_hotel_df[["City"]]

# 4b. Display the figure
gmaps.configure(api_key=g_key)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ulsteinvik"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ulsteinvik"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sistranda"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Kiruna"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Ostersund"]

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]
print(start)
print(stop1)
print(stop2)
print(stop3)

(62.3432, 5.8487)
(63.7256, 8.834)
(67.8557, 20.2251)
(63.1792, 14.6357)

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3],
                                          travel_mode = "DRIVING", )
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,505,Ulsteinvik,NO,75.11,overcast clouds,62.3432,5.8487,Quality Hotel Ulstein
1,505,Ulsteinvik,NO,75.11,overcast clouds,62.3432,5.8487,Quality Hotel Ulstein
2,688,Sistranda,NO,78.76,overcast clouds,63.7256,8.8340,Hotell FrÃ¸ya
3,303,Kiruna,SE,81.52,clear sky,67.8557,20.2251,Camp Ripan
4,450,Ostersund,SE,77.61,clear sky,63.1792,14.6357,Best Western Hotel Gamla Teatern

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))